In [2]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [5]:
# extracting all tables in website
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [10]:
# finding tables in group stage
all_tables[12]
print(all_tables[19])

   Pos        Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0

               Qualification
0  Advance to knockout stage
1  Advance to knockout stage
2                        NaN
3                        NaN

In [11]:
# A -> H
# 12 -> 7*8 + 11 = 67
for i in range(12,67,7):
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
#     print(df)

12
19
26
33
40
47
54
61

In [12]:
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [14]:
dict_table = {}
for letter, i in zip(alphabet, range(12,67,7)): # A=12, B=18, ...
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    #df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [15]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [17]:
dict_table['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [19]:
# Upload (..verify if uploaded correctly)
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)